html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}

  
body{
    font-family: Helvetica ;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 251, 240, 1);
    color:#332700E5;
    
}
img{
    width:100%;
    height: 100%;
}

