@font-face {
    font-family: "helveticaneue";
    src: url(/app/helveticaneue/HelveticaNeueBd.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "helveticaneue";
    src: url(/app/helveticaneue/HelveticaNeueMed.ttf) format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "helveticaneue";
    src: url(/app/helveticaneue/HelveticaNeueIt.ttf) format("truetype");
    font-style: italic;
}