@use '../abstracts/variables.scss' as v;
.btn{
   background-color: v.$btn-color; 
   border: none;
}
.btn__sm{
   box-shadow: 0px 0.5px 3px rgba(51, 39, 0, 0.5);
   border-radius: 0.5rem;
   padding: 0.5rem 1rem;
}
.btn__md{
   box-shadow: 0px 0.5px 3px rgba(51, 39, 0, 0.5);
   border-radius: 0.5rem;
   padding: 1rem 2rem;
}
.download{
   
}
.download-btn{
   display: inline-block;
   width:19rem;
}
.search-btn{
   display: inline-block;
   background-color:  #788180BF;
   ;
   width: 5rem;
   padding: 2em;
   border-radius: 0 1rem 1rem 0;
}