@forward 'nav';
@forward 'footer';
@forward 'header';
@forward 'section-1';
@forward 'card';
@forward 'section-2';
@forward 'section-3';
@forward 'section-4';
@forward 'section-5';
@forward 'section-6';
@forward 'section-7';





