.cards{
  width: 90%;
  margin: 1rem auto;
}
.card{
  &-1{
    background-color: #FFD054D9;
    border-radius: 2em;
  }
  &-2{
    background-color: #0E025CBF;
    border-radius: 2em;
  }
  &-3{
    background-color: #0C7003BF;
    border-radius: 2em;
  }
  &__text{
    padding: 2.5em;
    text-align: left;
    border-radius: 0 0 2em 2em;
  }
  &__ratings{
    display: flex;
    align-items: center;
    gap:1em;
  }
  &__ratings__icon{
    display: inline-block;
    width: 30%;
    height: 10%;
  }
  &__ratings__text{
    margin-top: 1em;
  }
  &__icons{
    display: flex;
    align-items: center;
    gap:3em;
  }
}




@media (min-width:768px) {
  .cards{
    // margin: 4rem;
    width: 55%;
  //   margin: auto;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
   
  }
 
 }
@media (min-width:980px) {
  .cards{
    margin: 4rem;
    width: 80%;
    margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   
  }
 
 }