@use "../abstracts/mixins.scss" as f;
.footer {
  color: #fffbf0;
  background-color: #848b89bf;
  @include f.flex;
  flex-wrap: wrap;

  &__icon {
    display: inline-block;
    width: 40%;
    margin-right: 5rem;
  }
  &__details {
    flex-basis: 80%;
    & p {
      padding-left: 0;
      padding-top: 0;
    }
  }
  &__contact ul {
    padding: 1rem;
    margin-right: 2rem;
  }
  &__contact li {
    list-style-type: none;
    flex-basis: 33%;
    text-align: left;
    a {
      text-decoration: none;
      color: #fffbf0;
    }
  }
  &__contact__container {
    @include f.flex;
    flex-basis: 80%;
    margin-right: 8rem;
    margin: auto;
  }
}
.hr {
  flex-basis: 100%;
  color: #fffbf080;
  margin-bottom: 0;
}
@media (max-width: 411px) {
  .footer__contact__container {
    font-size: 0.9rem;
    margin: 0;
    gap: 0;
    padding: 0;
    flex-basis: 100%;
  }
}
@media (min-width: 980px) {
  .footer {
    font-size: 1.8rem;
    padding: 0rem;
    gap: 0rem;
  }
  .footer h2 {
    font-size: 3rem;
  }
  .footer p {
    width: 80%;
  }
  .footer__details {
    flex-basis: 40%;
    padding: 0;
  }
  .footer__contact__container {
    font-size: 2rem;
    display: flex;
    flex-basis: 49%;
    padding: 0;
    margin: 0;
  }

  .hr {
    flex-basis: 90%;
    color: #fffbf080;
    margin-bottom: 0;
  }
  .last-p {
    padding: 0;
    margin-top: 0;
    margin-right: 12rem;
    width: 100%;
  }
}
