// .nav{
//     border:2px solid red;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .nav__logo{
//     margin-right: auto;
//     padding: 1rem;
// }
// .nav__lists{
//     margin-top: -4rem;
//     border: 2px solid red;
//     list-style-type: none;
//     display: flex;
//     gap:2rem;
//     justify-content: flex-start;
//     align-items: center;
//     flex-direction: column;
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: 7rem;
// }
// .nav__list:not(.nav__list-icon){
//   display: none;
// }

// .nav__list--highlight{
//     text-decoration: underline 2px;
//     text-underline-offset: 4px;
// }

// .nav__list-icon{
//     order:-1;
//     margin-left: 20rem;
   
// }

// new styles

.nav{
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    background-color: rgba(255, 251, 240, 0.9);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
.nav__logo{
    text-align:left;
    margin-left: 1em;
}
.nav__lists{
    list-style-type: none;
    
}
.nav__list{
  margin-bottom: 1em;
  margin-right: 1em;
 
}
.nav__list__link{
text-decoration: none;
font-size: 1.2rem;
text-transform: uppercase;
color: #8A6A00E5;
}
.nav__toggle:checked ~ .nav{
   transform: scale(1,1);

}
.nav__toggle:checked ~ .nav__list__link{
    opacity: 1;
 
 }
.nav__toggle{
    display: none;
    
}
.nav__toggle__label{
    position: absolute;
    top:0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (min-width:980px) {
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.0rem;

    }
    .nav__logo{
        margin-right: auto;
    }
    .nav{
        all: unset;
        font-size: 1.8rem;
    }
    .nav__lists{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__toggle__label{
        display: none;
    }
    .nav__list--highlight{
        text-decoration: underline solid red;
        text-underline-offset: 0.7rem;
    }
}