.nav{
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    background-color: rgba(255, 251, 240, 0.9);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    &__logo{
        text-align:left;
        margin-left: 1em;
    }
    &__lists{
        list-style-type: none;
        
    }
    &__list{
        margin-bottom: 1em;
        margin-right: 1em;
       
      }
      &__list__link{
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #8A6A00E5;
        }
        &__toggle:checked ~ .nav{
            transform: scale(1,1);
         
         }
         &__toggle:checked ~ .nav__list__link{
            opacity: 1;
         
         }
         &__toggle{
            display: none;
            
        }
        &__toggle__label{
            position: absolute;
            top:0;
            right: 0;
            margin-right: 1em;
            height: 100%;
            display: flex;
            align-items: center;
        }
        
}








@media (min-width:980px) {
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.0rem;

    }
    .nav__logo{
        margin-right: auto;
    }
    .nav{
        all: unset;
        font-size: 1.8rem;
    }
    .nav__lists{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__toggle__label{
        display: none;
    }
    .nav__list--highlight{
        text-decoration: underline solid #8A6A00;
        text-underline-offset: 0.7rem;
    }
}