@use "../abstracts/mixins.scss" as f;

.section-5 {
  text-align: center;
  &__box {
    width: 50%;
    text-align: center;
    padding: 2em;
    border-radius: 1.8rem;
    margin: 2em auto;
  }
  &__box-1 {
    background-color: #fee3cf80;
  }
  &__box-2 {
    background-color: #4f92b6f2;
  }
  &__box-3 {
    background-color: #fee3cf80;
  }
  &__icon {
    margin: auto;
    display: block;
    width: 40%;
  }
}

.arrow {
  display: none;
}

@media (min-width: 980px) {
  .section-5 h2 {
    font-size: 3.2rem;
  }
  .box {
    @include f.flex;
    margin: auto;
    width: 80%;
    gap: 2rem;
  }
  .section-5__box {
    height: 36rem;
    width: 36.7rem;
    transition: transform 400ms ease-in-out;
  }
  .section-5__box p {
    // margin-top: 5rem;
    font-size: 1.4rem;
  }
  .section-5__box h3 {
    margin-top: 5rem;
    font-size: 2.2rem;
  }
  .section-5__box-lg {
    height: 38rem;
  }
  .arrow {
    display: block;
    @include f.flex;
    gap: 2rem;
    margin-left: 15rem;
  }
  .arrow-1 {
    width: 3.8rem;
    height: 3.8rem;
  }
  .arrow-2 {
    width: 5.8rem;
    height: 5.8rem;
  }
  .section-5__heading {
    @include f.flex;
  }
  .section-5__box:hover{
    transform: scale(0.9);
    cursor: pointer;
  }
}
