.section-1{
  background:linear-gradient(to bottom, rgba(255, 251, 240, 0.6), rgba(255, 251, 240, 0.9)),
    url(/app/images/picture-1.png)no-repeat center center;
  background-size: cover;
  padding-top: 1em;
}
.article-1{
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5em;

}
.article-1 h1{
  font-size: 3rem;
}
.article-1__highlight-1{
  color: #DE6101;
}
.article-1__highlight-2{
color:#8A6A00;
}

@media (min-width:980px) {
  
   .section-1{
    padding: 3rem;
    background:linear-gradient(to right, rgba(255, 251, 240), rgba(255, 251, 240, 0.1)),
    url(/app/images/picture-1.png)no-repeat center center;
    background-size: 100% 100%;
   }
   .article-1{
    margin-bottom: 10rem;
    text-align: left;
    &__para{
      width:50%;
     margin-left: 2rem;
      font-size: 2rem;
      
     }
   }
   .article-1 h1{
    font-size: 7rem;
    width: 60%;
    padding: 0;
    margin: 5rem;
    margin-left: 2rem;
   }
  
   .download{
    margin-left: 8rem;
    margin-top: 4rem;
    &-btn{
      width: 25rem;
     }
   }
  
 
 }