.section-2{
  text-align: center;
}
.search-box{
  display:flex;
  padding: 1em;
  justify-content: center;
  background-color: #C4C4C499;
  ;
}
.search-box input{
  // padding: 0.2em;
  width: 70%;
  background-color: #FFFBF0;
  border: none;
}
.search-box select{
  border-radius: 1rem 0 0 1rem;
  background-color: #FFFBF0;
  border: none;
  border-right: 2px solid #33270026;

}

