.section-5{
  text-align: center;
}
.section-5__box{
  width:50%;
  text-align: center;
  padding: 2em;
  border-radius: 1.8rem;
  margin:2em auto;
  

}
.section-5__box-1{
  background-color: #FEE3CF80;
}
.section-5__box-2{
  background-color:#4F92B6F2;
}
.section-5__box-3{
  background-color: #FEE3CF80;
}
.section-5__icon{
  margin: auto;
  display: block;
  width: 40%;
}

@media (min-width:980px) {
  .section-5 h2{
     font-size: 3.2rem;
  }
  .box{
    display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   width: 80%;
   gap: 2rem;
  }
  .section-5__box{
    height: 36rem;  
    width: 36.7rem;
  }
  .section-5__box p{
    // margin-top: 5rem;
    font-size: 1.4rem;
  }
  .section-5__box h3{
    margin-top: 5rem;
    font-size: 2.2rem;
  }
  .section-5__box-lg{
    height: 38rem;
  }
 }