@use '../abstracts/mixins.scss' as f ;

.section-3__bg{
  background: url('/app/images/Frame\ 91.png') no-repeat center center;
  background-size: cover;
  width: 40%;
  margin: auto;
}
.section-3__text{
  text-align: center;
  padding: 4em;
}
@media (min-width:980px) {
  
  .section-3{
    @include f.flex;
   margin-bottom: 2rem;
   width: 80%;
   margin: auto;
   &__bg{
    margin: 0;
}
&__text{
  width: 50%;
  text-align: left;
  padding: 0;
  font-size: 1.6rem;
}
&__text h1{
  font-size: 3.2rem;
}
  }
  
 }