.section-1 {
  background: linear-gradient(
      to right,
      rgba(255, 251, 240, 1),
      rgba(255, 251, 240, 0.5),
      rgba(255, 251, 240, 0.2),
      rgba(255, 251, 240, 0.1)
    ),
    url(/app/images/picture-1.png) no-repeat center center;
  background-size: cover;
  padding-top: 1em;
}
.article-1 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5em;
}
.article-1 h1 {
  font-size: 3rem;
}
.article-1__highlight-1 {
  color: #de6101;
}
.article-1__highlight-2 {
  color: #8a6a00;
}

@media (min-width: 980px) {
  .section-1 {
    padding: 3rem;
    background: linear-gradient(
        to right,
        rgba(255, 251, 240, 1) 20%,
        rgba(255, 251, 240, 0.1) 40%,
        rgba(255, 251, 240, 0.2) 70%,
        rgba(255, 251, 240, 0.2) 100%
      ),
      url(/app/images/picture-1.png) no-repeat center center;
    background-size: 80% 100%;
    background-position: 100% 100%;
  }
  .article-1 {
    margin-bottom: 10rem;
    text-align: left;
    &__para {
      width: 50%;
      margin-left: 2rem;
      font-size: 2rem;
    }
  }
  .article-1 h1 {
    font-size: 7rem;
    width: 50%;
    padding: 0;
    margin: 5rem;
    margin-left: 2rem;
  }

  .download {
    margin-left: 8rem;
    margin-top: 4rem;
    &-btn {
      width: 25rem;
    }
  }
  main {
    max-width: 1371px;
  }
}
