@use '../abstracts/mixins.scss' as f ;

.section-6{
  margin: auto;
  text-align: center;
  font-size: 1rem;
  background-color: #A38E811A;
  padding: 3rem;
  &__bg{
    width: 30%;
    margin: auto;
  }
  &__quote::before{
     content :'“';
     font-weight: 500;
    font-size: 3.5rem;
  
  }
  &__quote::after{
    content :'”';
    font-weight: 500;
    font-size: 3.5rem;
  }
}

// .section-6__cite{
//   margin-top: -2rem;
// }

@media (min-width:980px) {
  .section-6{
    @include f.flex;
    margin-bottom: 2rem;
    margin: auto;
    padding: 4rem;
    
   }
   .section-6__bg{
       width: 25%;
       margin-left: 20rem;
   }
   .section-6__text{
     width: 50%;
     text-align: left;
     padding: 0;
     font-size: 1.6rem;
   }
   .section-6__text h1{
     font-size: 3.2rem;
   }
}