.section-3__bg{
  background: url('/app/images/Frame\ 91.png') no-repeat center center;
  background-size: cover;
  width: 40%;
  margin: auto;
}
.section-3__text{
  text-align: center;
  padding: 4em;
}
@media (min-width:500px) {
  .section-3{
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
  }
  
 }